<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Dental Mundo Kids</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="/js/helper.js" type="text/javascript"></script>
	<script th:inline="javascript">
	$( document ).on('pageinit', '#agendarCita', function(e) {		
		
		/*<![CDATA[*/


		var id_paciente = /*[[${param.id_paciente}]]*/;
		var fecha = /*[[${fecha}]]*/;

		
		/*]]>*/	
		if(id_paciente == null) {
			// nada, ejecucion normal.
		} else {
			try {
				$.ajax({
				      url: "/paciente/" + id_paciente,
				      contentType: 'application/json',
				      type: 'GET',
				      dataType: "json",
					  beforeSend: function(req) {
						  //$.mobile.showPageLoadingMsg();
						  $.mobile.loading('show');					  
					  },
				      success: function( data ) {
				    	//debugger;
				    	$.mobile.loading('hide');
						$('#agendarCita-nombre').val(data['nombre']);						
						$('#agendarCita-apellido1').val(data['apellido1']);
						$('#agendarCita-apellido2').val(data['apellido2']);
						$('#agendarCita-telefono').val(data['telefono']);
						var d = obtenerFecha();
						//var h = obtenerHora();
						$('#agendarCita-fecha').val(d);
						console.log(d);
						$('#agendarCita-idPaciente').val(data['id']);
				      },
				      failure: function(errMsg) {
				    	  debugger;
				    	  alert(errMsg);
				      }
				});
			} catch(e) {
				alert(e);
			}			
		}	
		
		$.ajax({
			type: "GET",
			url: '/tratamiento',
			contentType: 'application/json',
			dataType: 'json',				
			success: function(data){
				$( "#agendarCita-tratamiento" ).empty();
				$.each(data, function(key,value) {						
					$( "#agendarCita-tratamiento" ).append($("<option></option>").attr("value",value["id"]).text(value["tratamiento"]));
				});
			},
		    failure: function(errMsg) {alert(errMsg);}
		});
		
		
		$('#agendarCita-send').click(function() {
			
			// Verificar si la fecha de inicio esta seleccionada
			var startDateStr = $('#agendarCita-fecha').val();
			if(startDateStr == null || startDateStr == "") {
				$.mobile.changePage( "#alertDialog", { role: "dialog", transition: "none" } );
				return;			
			}		
			// Verificar si el usuario selecciono un horario adecuado
			var horas = $('#agendarCita-hora').val();
			if(horas == null || horas == "") {
				$.mobile.changePage( "#alertDialog", { role: "dialog", transition: "none" } );
				return;			
			}				
			if(horas<10) {
				horas="0"+horas;
			}
			
			var mins = $('#agendarCita-mins').val();
			if(mins == null || mins == "") {
				$.mobile.changePage( "#alertDialog", { role: "dialog", transition: "none" } );
				return;			
			}			
			
			var startDate = new Date(startDateStr + "T" + horas + ":" +mins).getTime();
			var duracion = $("#agendarCita-duracion").val();
			var duracionMillis = duracion * (60*1000);
			var endDate = new Date(startDate + duracionMillis).getTime();
			var id_paciente =$('#agendarCita-idPaciente').val();
			// Verificar si tenemos nombre de paciente
			var nombre =$('#agendarCita-nombre').val();
			if(nombre == null || nombre == "") {
				$.mobile.changePage( "#alertDialog", { role: "dialog", transition: "none" } );
				return;			
			}
			// Verificar si tenemos apellido valido
			var apellido1 =$('#agendarCita-apellido1').val();
			if(apellido1 == null || apellido1 == "") {
				$.mobile.changePage( "#alertDialog", { role: "dialog", transition: "none" } );
				return;			
			}				
			var apellido2 =$('#agendarCita-apellido2').val();
			// Neceistamos como contactar al paciente
			var telefono = $('#agendarCita-telefono').val();
			if(telefono == null || telefono == "") {
				$.mobile.changePage( "#alertDialog", { role: "dialog", transition: "none" } );
				return;			
			}			
			
			var id_tratamiento_option = $( "#agendarCita-tratamiento" ).val();
			if(id_tratamiento_option == null || id_tratamiento_option == "") {
				alert("Por favor selecciona el motivo de la consulta");
				return;
			}			
			//debugger;
			
			$.ajax({
				type: 'PUT',
				url: '/cita',
				contentType: 'application/json',
				dataType: 'json',
				data: JSON.stringify(
						{
							id: 0,
							startDate: startDate, 
	   					    endDate: endDate, 
					        paciente: {
					    		id: id_paciente,
					    	 	nombre:nombre, 
					    	 	apellido1: apellido1, 
					    	 	apellido2: apellido2, 
					    	 	telefono: telefono
					     	},
					     	tratamiento: {
					     		id: id_tratamiento_option			     	
					     	}
						}
					  ),
				beforeSend: function(req) {
					$.mobile.loading('show');				
				},				  
				success: function(data){
					//debugger;
					$.mobile.loading('hide');
					$.mobile.changePage( "#okDialog", { role: "dialog", transition: "flow" } );					
				 },
			    failure: function(errMsg) {alert(errMsg);}
			});		
		});
		
		
	   $( "#autocomplete" ).on( "filterablebeforefilter", function ( e, data ) {
		        var $ul = $( this );
		        var $input = $( data.input );
		        var value = $input.val();
		        var html = "";
		        $ul.html( "" );
		        if ( value && value.length > 3 ) {
		            $ul.html( "<li><div class='ui-loader'><span class='ui-icon ui-icon-loading'></span></div></li>" );
		            $ul.listview( "refresh" );
		            $.ajax({
		                url: "/busqueda?term=" + value,
		                dataType: "json",		                
		                data: {
		                    term: $input.val()
		                }
		            })
		            .then( function ( response ) {
		            	//debugger;
		                $.each( response, function ( i, val ) {
		                    html += '<li><a href="/mobile/agendar?id_paciente='+ val.id+ '" rel="external">' + val.value + '<a></li>';
		                });
		                $ul.html( html );
		                $ul.listview( "refresh" );
		                $ul.trigger( "updatelayout");
		            });
		        }
		    });		
		
	});
	

	
	</script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

<!--  Agendar cita page -->
<div data-role="page" id="agendarCita">

	<div data-role="navbar">
	    <ul>
	    	<li><a href="/" rel="external">Desktop</a></li>
	        <li><a href="/mobile/" rel="external">Agenda</a></li>	        
	        <li><a href="/mobile/agendar" class="ui-btn-active" rel="external">Programar Cita</a></li>
	    </ul>
	</div><!-- /navbar -->

	<div data-role="header">
		<h1>Nueva Cita</h1>
	</div>

	<div role="main" class="ui-content">
					
			<form class="ui-filterable">
			    <input id="autocomplete-input" data-type="search" placeholder="Buscar...">
			</form>
			<ul id="autocomplete" data-role="listview" data-inset="true" data-filter="true" data-input="#autocomplete-input"></ul>					
			
			<input type="hidden" name="agendarCita-idPaciente" id="agendarCita-idPaciente" value="">
			<label for="nombre">Nombre:</label>
			<input type="text" name="agendarCita-nombre" id="agendarCita-nombre" value="">

			<label for="apellido1">Apellido Paterno:</label>
			<input type="text" name="agendarCita-apellido1" id="agendarCita-apellido1" value="">
			
			<label for="apellido2">Apellido Materno:</label>
			<input type="text" name="agendarCita-apellido2" id="agendarCita-apellido2" value="">
			
			<label for="agendarCita-telefono">Telefono:</label>
			<input type="text" name="agendarCita-telefono" id="agendarCita-telefono" value="">			
			
			<label for="agendarCita-fecha">Fecha:</label>
			<input type="date" name="agendarCita-fecha" id="agendarCita-fecha" th:value="${fecha}" >
			<table>
				</tr>
				<tr>
					<td>Hora:</td>
					<td>
						<select name="agendarCita-hora" id="agendarCita-hora">
							<option value=""></option>
							<option value="9">9am</option>
							<option value="10">10am</option>
							<option value="11">11am</option>
							<option value="12">12pm</option>
							<option value="13">1pm</option>
							<option value="14">2pm</option>
							<option value="15">3pm</option>
							<option value="16">4pm</option>
							<option value="17">5pm</option>
							<option value="18">6pm</option>
							<option value="19">7pm</option>
							<option value="20">8pm</option>
							<option value="21">9pm</option>							
						</select>
					</td>
					<td>
						<select name="agendarCita-mins" id="agendarCita-mins">
							<option value=""></option>
							<option value="00">00</option>							
							<option value="30">30</option>							
						</select>
					</td>					
				</tr>
			</table>
			
			<label for="agendarCita-duracion">Duracion:</label>
			<select name="agendarCita-duracion" id="agendarCita-duracion">
				<option value="15">15 min</option>
				<option value="30">30 min</option>
				<option value="60">60 min</option>
			</select>					
						
			<label for="agendarCita-tratamiento">Tratamiento:</label>
			<select name="agendarCita-tratamiento" id="agendarCita-tratamiento">
				
			</select>
			<button id="agendarCita-send" class="ui-button ui-shadow">Agendar</button>
									
	</div><!-- /content -->	
	
	<div data-role="footer">		
		<a href="/mobile/" data-role="button" rel="external">Regresar</a>
	</div><!-- /footer -->

</div>

<!-- Dialog only page -->
<div data-role="dialog" id="okDialog" data-transition="flow">
  <div data-role="header">
    <h1>Cita Agregada</h1>
  </div>
  <div data-role="content">
    <p>La cita se ha agregado con exito!</p>        
    <a href="/mobile" class="ui-button ui-shadow" data-role="button" rel="external">Ok</a>
  </div>
</div>

<!-- Dialog only page -->
<div data-role="dialog" id="alertDialog" data-transition="none">
  <div data-role="header">
    <h1>Error de validacion</h1>
  </div>
  <div data-role="content">
    <p>Por favor completa los datos requeridos!</p>        
    <p>Los campos que se necesitan estan marcados con (*)</p>
    <a href="#" class="ui-button ui-shadow" data-role="button" data-rel="back">Entendido</a>
  </div>
</div>

</body>
</html>