<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Dental Mundo Kids</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="/js/helper.js" type="text/javascript"></script>
	<script type="text/javascript">
	$( document ).on('pageinit', '#agendarCita', function(e) {		
		
		try {
			$.ajax({
			      url: "/paciente/1",
			      contentType: 'application/json',
			      type: 'GET',
			      dataType: "json",
				  beforeSend: function(req) {
					  //$.mobile.showPageLoadingMsg();
					  $.mobile.loading('show');					  
				  },
			      success: function( data ) {
			    	//debugger;
			    	$.mobile.loading('hide');
					$('#agendarCita-nombre').val(data['nombre']);
					$('#agendarCita-apellido1').val(data['apellido1']);
					$('#agendarCita-apellido2').val(data['apellido2']);
					$('#agendarCita-telefono').val(data['telefono']);
					var d = obtenerFecha();
					//var h = obtenerHora();
					$('#agendarCita-fecha').val(d);
					console.log(d);
					$('#agendarCita-idPaciente').val(data['id']);
			      },
			      failure: function(errMsg) {
			    	  debugger;
			    	  alert(errMsg);
			      }
			});
		} catch(e) {
			alert(e);
		}
		
		$('#agendarCita-send').click(function() {
			var startDateStr = $('#agendarCita-fecha').val();
			var horas = $('#agendarCita-hora').val();
			if(horas<10) {
				horas="0"+horas;
			}
			var mins = $('#agendarCita-mins').val();
			var startDate = new Date(startDateStr + "T" + horas + ":" +mins).getTime();
			var duracion = $("#agendarCita-duracion").val();
			var duracionMillis = duracion * (60*1000);
			var endDate = new Date(startDate + duracionMillis).getTime();
			var id_paciente =$('#agendarCita-idPaciente').val();
			var nombre =
			var apellido1 =
			var apellido2 =
			var telefono = 
			debugger;
			return;
// 			$.ajax({
// 				type: 'PUT',
// 				url: '/cita',
// 				contentType: 'application/json',
// 				dataType: 'json',
// 				data: JSON.stringify(
// 						{
// 							id: null,
// 							startDate: startDate, 
// 	   					    endDate: endDate, 
// 					        paciente: {
// 					    		id: id_paciente,
// 					    	 	nombre:nombre, 
// 					    	 	apellido1: apellido1, 
// 					    	 	apellido2: apellido2, 
// 					    	 	telefono: telefono
// 					     	},
// 					     	tratamiento: {
// 					     		id: id_tratamiento_option			     	
// 					     	}
// 						}
// 					  ),
// 				beforeSend: function(req) {
// 					$.mobile.loading('show');				
// 				},				  
// 				success: function(data){
// 					//debugger;
// 					$.mobile.loading('hide');
// 					//$( "#dialog-message" ).dialog( "open" );								
// 				 },
// 			    failure: function(errMsg) {alert(errMsg);}
// 			});		
		});
	});
	

	
	</script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

<!--  Agendar cita page -->
<div data-role="page" id="agendarCita">

	<div data-role="navbar">
	    <ul>
	        <li><a href="/mobile/" rel="external">Agenda</a></li>	        
	        <li><a href="/mobile/agendar" class="ui-btn-active" rel="external">Programar Cita</a></li>
	    </ul>
	</div><!-- /navbar -->

	<div data-role="header">
		<h1>Nueva Cita</h1>
	</div>

	<div role="main" class="ui-content">			
			
			<input type="hidden" name="agendarCita-idPaciente" id="agendarCita-idPaciente" value="">
			<label for="nombre">Nombre:</label>
			<input type="text" name="agendarCita-nombre" id="agendarCita-nombre" value="">

			<label for="apellido1">Apellido Paterno:</label>
			<input type="text" name="agendarCita-apellido1" id="agendarCita-apellido1" value="">
			
			<label for="apellido2">Apellido Materno:</label>
			<input type="text" name="agendarCita-apellido2" id="agendarCita-apellido2" value="">
			
			<label for="agendarCita-telefono">Telefono:</label>
			<input type="text" name="agendarCita-telefono" id="agendarCita-telefono" value="">			
			
			<label for="agendarCita-fecha">Fecha:</label>
			<input type="date" name="agendarCita-fecha" id="agendarCita-fecha" value="">
			<table>
				</tr>
				<tr>
					<td>Hora:</td>
					<td>
						<select name="agendarCita-hora" id="agendarCita-hora">
							<option value="9">9am</option>
							<option value="10">10am</option>
							<option value="11">11am</option>
							<option value="12">12pm</option>
							<option value="13">1pm</option>
							<option value="14">2pm</option>
							<option value="15">3pm</option>
							<option value="16">4pm</option>
							<option value="17">5pm</option>
							<option value="18">6pm</option>
							<option value="19">7pm</option>
							<option value="20">8pm</option>
							<option value="21">9pm</option>							
						</select>
					</td>
					<td>
						<select name="agendarCita-mins" id="agendarCita-mins">
							<option value="00">00</option>							
							<option value="30">30</option>							
						</select>
					</td>					
				</tr>
			</table>
			
			<label for="agendarCita-duracion">Duracion:</label>
			<select name="agendarCita-duracion" id="agendarCita-duracion">
				<option value="30">30 min</option>
				<option value="60">60 min</option>
			</select>					
						
			<label for="agendarCita-tratamiento">Tratamiento:</label>
			<select name="agendarCita-tratamiento" id="agendarCita-tratamiento">
				<option value="1">CONSULTA</option>
			</select>
			<button id="agendarCita-send" class="ui-button ui-shadow">Agendar</button>
									
	</div><!-- /content -->	
	
	<div data-role="footer">		
		<a href="/mobile/" data-role="button" rel="external">Regresar</a>
	</div><!-- /footer -->

</div>
</body>
</html>