<!DOCTYPE html>
<html>
<head>
	<title>Dental Mundo Kids</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

<!--  Agendar cita page -->
<div data-role="page" id="espera">

	<div data-role="navbar">
	    <ul>
	        <li><a href="/mobile/citas">Citas</a></li>
	        <li><a href="/mobile/espera" class="ui-btn-active">Lista de Espera</a></li>
	        <li><a href="/mobile/agendar">Agendar Cita</a></li>
	    </ul>
	</div><!-- /navbar -->

	<div data-role="header">
		<h1>Nueva Cita</h1>
	</div>

	<div role="main" class="ui-content">
		<form>		
			<label for="nombre">Nombre:</label>
			<input type="text" name="agendarCita-nombre" id="agendarCita-nombre" value="">

			<label for="apellido1">Apellido Paterno:</label>
			<input type="text" name="agendarCita-apellido1" id="agendarCita-apellido1" value="">
			
			<label for="apellido2">Apellido Materno:</label>
			<input type="text" name="agendarCita-apellido2" id="agendarCita-apellido2" value="">
			
			<label for="fecha">Fecha:</label>
			<input type="date" name="agendarCita-fecha" id="agendarCita-fecha" value="">
			<table>
				</tr>
				<tr>
					<td>Hora:</td>
					<td>
						<select name="agendarCita-hora" id="agendarCita-hora">
							<option value="9">9am</option>
							<option value="10">10am</option>
							<option value="11">11am</option>
							<option value="12">12pm</option>
							<option value="13">1pm</option>
							<option value="14">2pm</option>
							<option value="15">3pm</option>
							<option value="16">4pm</option>
							<option value="17">5pm</option>
							<option value="18">6pm</option>
							<option value="19">7pm</option>
							<option value="20">8pm</option>
							<option value="21">9pm</option>							
						</select>
					</td>
					<td>
						<select name="agendarCita-mins" id="agendarCita-mins">
							<option value="00">00</option>							
							<option value="30">30</option>							
						</select>
					</td>					
				</tr>
			</table>
						
			<label for="agendarCita-tratamiento">Tratamiento:</label>
			<select name="agendarCita-tratamiento" id="agendarCita-tratamiento">
				<option value="1">CONSULTA</option>
			</select>
			<input type="submit" id="agendarCita-submit" value="Agendar">
							
		</form>
	</div><!-- /content -->	
	
	<div data-role="footer">		
		<a href="#landing" data-role="button">Regresar</a>
	</div><!-- /footer -->

</div>
</body>
</html>