<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerfiles">    
</head>
<body>

<div class="ui-widget">
	<table style="margin-left:auto;margin-right:auto;">
		<tr>	
			<td>Buscar Paciente</td>
			<td><input type="text" name="buscar" id="buscar" size="64" class="text ui-widget-content ui-corner-all"></td>
		</tr>
	</table>
</div>

<div id="dialog-form" title="Nueva Cita">  
 
      <table style="margin-left:auto;margin-right:auto;">      
      	<tr>
      		<td><label for="nombre">Nombre</label></td>
      		<td><input type="text" name="nombre" id="nombre" class="text ui-widget-content ui-corner-all"></td>
      	</tr>
      	<tr>
      		<td><label for="apellido1">Apellido</label></td>
      		<td><input type="text" name="apellido1" id="apellido1"  class="text ui-widget-content ui-corner-all"></td>
      	</tr>
      	<tr>
      		<td><label for="apellido2">Apellido Materno</label></td>
      		<td><input type="text" name="apellido2" id="apellido2" class="text ui-widget-content ui-corner-all"></td>
      	</tr>
      	<tr>
      		<td><label for="telefono">Telefono</label></td>
      		<td><input type="text" name="telefono" id="telefono" class="text ui-widget-content ui-corner-all"></td>
      	</tr>      	
      	<tr>
      		<td><label for="fecha">Fecha</label></td>
      		<td>
      			<input type="text" name="fecha" id="fecha" class="text ui-widget-content ui-corner-all">      			
      		</td>
      	</tr>
      	</tr>
      	<tr>
      		
      		<td>Horario</td>
      		<td>
      			<select name="horas" id="horas" class="text ui-widget-content ui-corner-all">
`					<option></option>
					<option value="09">09am</option>
      				<option value="10">10am</option>
      				<option value="11">11am</option>
      				<option value="12">12pm</option>
      				<option value="13">01pm</option>
      				<option value="14">02pm</option>
      				<option value="15">03pm</option>      				
      				<option value="16">04pm</option>
      				<option value="17">05pm</option>
      				<option value="18">06pm</option>
      				<option value="19">07pm</option>
      				<option value="20">08pm</option>
      				<option value="21">09pm</option>
      			</select>    
   				<select name="minutos" id="minutos" class="text ui-widget-content ui-corner-all">
   					<option value="00">00</option>
   					<option value="30">30</option>
   				</select>      			  			
     		</td>
      	</tr>	
      	</tr>
      	      	<tr>
      		<td><label for="duracion">Duracion</label></td>
      		<td>
      			<select name="duracion" id="duracion" class="text ui-widget-content ui-corner-all">
      				<option value="30">30 min</option>
      				<option value="60">1hr</option>
      			</select>
      		</td>
      	</tr>   
      	</tr>
		<tr>
      		<td><label for="tratamiento">Tratamiento</label></td>
      		<td>
      			<select name="tratamiento" id="tratamiento" class="text ui-widget-content ui-corner-all" >
    				
      			</select>
      		</td>
      	</tr>    
  	      	      	   	      	      	
      	<tr>
      		<td colspan="2">
      		<!-- Allow form submission with keyboard without duplicating the dialog button -->
      		<button id="buttonAgendar">Agendar</button>
      		<button id="buttonCancelar">Cancelar</button>
      		<input type="hidden" name="id_paciente" id="id_paciente" value="0">
      		<input type="hidden" name="id_espera" id="id_espera" value="0">
      		<input type="hidden" name="id_cita" id="id_cita" value="0">
      		<input type="hidden" name="id_tratamiento" id="id_tratamiento" value="0">
      		</td>
      	</tr>
      </table>       
</div>


<div id="dialog-message" title="Agregar Cita">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    Cita Agregada!
  </p>
  <p>
    Success.
  </p>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
<script th:inline="javascript">

/*<![CDATA[*/


var startStr = /*[[${param.startStr}]]*/;
var hours = /*[[${param.horas}]]*/;
var mins = /*[[${param.minutos}]]*/;

var animationTimeout = 350;
var animationType = "fold";

var id_espera = /*[[${param.id_espera}]]*/;

/*]]>*/

$(document).ready(function() {
	
	if(id_espera != null && id_espera != "") {
		debugger;
		$('#id_espera').val(id_espera);
		$.ajax({
			type: "GET",
			url: '/listaEspera/' + id_espera,
			contentType: 'application/json',
			dataType: 'json',				
			success: function(data){
				console.log(data);
				var id_paciente = null;
				if(data!= null) {
					id_paciente = data['paciente']['id'];
					$('#id_paciente').val(id_paciente);
					console.log("Tratando de obtener datos del paciente id="+id_paciente);
					loadPaciente();					
				}

			},
		    failure: function(errMsg) {alert(errMsg);}
		});
		
	}
	
	$("#fecha").datepicker({
		dateFormat: "yy-mm-dd"
	});
	
	$("#fecha").val(startStr);
	//$('#fecha').prop("disabled", true);
	
	$("#horas").val(hours);
	//$('#horas').prop("disabled", true);
	
	$("#minutos").val(mins);
	//$('#minutos').prop("disabled", true);
	
	$('#buttonAgendar').click(function()  {
		addPaciente();
	});
	
	$('#buttonCancelar').click(function()  {
		location.href = "/";
	});
	
    $( "#dialog-message" ).dialog({
        modal: true,
        autoOpen: false,
        show: {
          effect: animationType,
          duration: animationTimeout
        },
        hide: {
          effect: animationType,
          duration: animationTimeout
        },        
        buttons: {
          Ok: function() {
            $( this ).dialog( "close" );
            location.href="/";
          }
        }
      });
	
	function addPaciente() {
		var nombre = $("#nombre").val();
		if(nombre == null || nombre == "") {
			alert("Por favor especifica un nombre de paciente valido para la consulta");
			return;			
		}
		var apellido1 = $("#apellido1").val();
		if(apellido1 == null || apellido1 == "") {
			alert("Por favor especifica un apellido valido para el paciente");
			return;			
		}		
		var apellido2 = $("#apellido2").val();
		var telefono = $("#telefono").val();
		if(telefono == null || telefono == "") {
			alert("Por favor especifica numero telefonico de contacto");
			return;			
		}		
		var horas = $("#horas").val();		
		if(horas == null || horas == "") {
			alert("Por favor selecciona un horario valido para la consulta");
			return;
		}
		
		var minutos = $("#minutos").val();
		if(minutos == null || minutos == "") {
			alert("Por favor selecciona un horario valido para la consulta");
			return;
		}
		var fecha = $("#fecha").val();
		if(fecha == null || fecha == "") {
			alert("Por favor selecciona una fecha valida para la consulta");
			return;
		}
		var duracion = $("#duracion").val();
		var duracionMillis = duracion * (60*1000);
		var calendarStart = fecha + "T" + horas + ":" + minutos;			
		console.log("Start Date " + calendarStart);
		var startDate = new Date(calendarStart).getTime();			
		var endDate = new Date(startDate + duracionMillis).getTime();
					
		var id_paciente =  $("#id_paciente").val();
		var id_cita =  $("#id_cita").val();			
		var tratamiento = $( "#tratamiento" ).text();
		var id_tratamiento_option = $( "#tratamiento" ).val();
		if(id_tratamiento_option == null || id_tratamiento_option == "") {
			alert("Por favor selecciona el motivo de la consulta");
			return;
		}
		var id_espera = $('#id_espera').val();
		//debugger
		var invokeMethod = "PUT";
		// si estamos agregando, el metodo nos regresa el id en la respuesta
		// sino usamos el id_cita para re=agendar			
		if(id_cita != null && id_cita != "" && id_cita != "0") {
			invokeMethod = "POST";				
		}
		var requestUrl = '/cita';
		if(id_espera != null && id_espera != "") {
			requestUrl = requestUrl + "?id_espera=" + id_espera;
		}
		
		$.ajax({
			type: invokeMethod,
			url: requestUrl,
			contentType: 'application/json',
			dataType: 'json',
			data: JSON.stringify(
					{
						id: id_cita,
						startDate: startDate, 
   					    endDate: endDate, 
				        paciente: {
				    		id: id_paciente,
				    	 	nombre:nombre, 
				    	 	apellido1: apellido1, 
				    	 	apellido2: apellido2, 
				    	 	telefono: telefono
				     	},
				     	tratamiento: {
				     		id: id_tratamiento_option			     	
				     	}
					}
				  ),
			beforeSend: function(req) {
				$('#progressbar').progressbar('value',30);				
			},				  
			success: function(data){
				//debugger;
				$('#progressbar').progressbar('value',99);
				$( "#dialog-message" ).dialog( "open" );								
			 },
		    failure: function(errMsg) {alert(errMsg);}
		});
	}
	
	function clearData() {
		
		//debugger
		$('#nombre').val('');
		$('#nombre').prop("disabled", false);
		
		$('#apellido1').val('');
		$('#apellido1').prop("disabled", false);
		
		$('#apellido2').val('');
		$('#apellido2').prop("disabled", false);
		
		$('#telefono').val('');
		$('#telefono').prop("disabled", false);	
		
		$('#fecha').val('');
		$('#fecha').prop("disabled", false);
		
		$('#tratamiento').val('');
		$('#id_tratamiento').val('');
		$('#tratamiento').prop("disabled", false);
		
		$( '#buscar' ).val('');
		$('#id_paciente').val('');
		$('#id_cita').val('');
		
		dialog.dialog('close');
	}
	
	function loadTratamiento() {			
		$.ajax({
			type: "GET",
			url: '/tratamiento',
			contentType: 'application/json',
			dataType: 'json',				
			success: function(data){
				$( "#tratamiento" ).empty();
				$.each(data, function(key,value) {						
					$( "#tratamiento" ).append($("<option></option>").attr("value",value["id"]).text(value["tratamiento"]));
				});
				var id_tratamiento = $('#id_tratamiento').val();
				$('#tratamiento').val(id_tratamiento);
			},
		    failure: function(errMsg) {alert(errMsg);}
		});
	}
	
	function loadPaciente() {
		
		var id_paciente = $("#id_paciente").val();
		if(id_paciente != null) {
			$.ajax({
				type: "GET",
				url: '/paciente/' + id_paciente,
				contentType: 'application/json',
				dataType: 'json',				
				success: function(data){
					////debugger
					$("#nombre").val(data['nombre']);
					$("#apellido1").val(data['apellido1']);
					$("#apellido2").val(data['apellido2']);
					$("#telefono").val(data['telefono']);
				},
			    failure: function(errMsg) {alert(errMsg);}
			});
		}
	}	
	
    $( "#buscar").autocomplete({
        source: "busqueda",
  	  minLength: 6,
        select: function( event, ui ) {
      	  console.log("busqueda="+ ui.item.id);
            $("#id_paciente").val(ui.item.id);
            loadPaciente();
          }
    });
	
    loadTratamiento();
});

	

</script>
</html>