<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerfiles">   
</head>
<body>


<div id="dialog-form" title="Cambiar Cita">  
      <table style="margin-left:auto;margin-right:auto;">
      	<tr>
      		<td colspan="2"><h2>Cambiar Cita</h2></td>
      	</tr>      
      	<tr>
      		<td><label for="nombre">Nombre</label></td>
      		<td><input type="text" name="nombre" id="nombre" class="text ui-widget-content ui-corner-all"></td>
      	</tr>
      	<tr>
      		<td><label for="apellido1">Apellido</label></td>
      		<td><input type="text" name="apellido1" id="apellido1"  class="text ui-widget-content ui-corner-all"></td>
      	</tr>
      	<tr>
      		<td><label for="apellido2">Apellido Materno</label></td>
      		<td><input type="text" name="apellido2" id="apellido2" class="text ui-widget-content ui-corner-all"></td>
      	</tr>
      	<tr>
      		<td><label for="telefono">Telefono</label></td>
      		<td><input type="text" name="telefono" id="telefono" class="text ui-widget-content ui-corner-all"></td>
      	</tr>      	
      	<tr>
      		<td><label for="fecha">Fecha</label></td>
      		<td>
      			<input type="text" name="fecha" id="fecha" class="text ui-widget-content ui-corner-all">      			
      		</td>
      	</tr>
      	</tr>
      	<tr>
      		
      		<td>Horario</td>
      		<td>
      			<select name="horas" id="horas" class="text ui-widget-content ui-corner-all">
`					<option></option>
					<option value="09">09am</option>
      				<option value="10">10am</option>
      				<option value="11">11am</option>
      				<option value="12">12pm</option>
      				<option value="13">01pm</option>
      				<option value="14">02pm</option>
      				<option value="15">03pm</option>      				
      				<option value="16">04pm</option>
      				<option value="17">05pm</option>
      				<option value="18">06pm</option>
      				<option value="19">07pm</option>
      				<option value="20">08pm</option>
      				<option value="21">09pm</option>
      			</select>    
   				<select name="minutos" id="minutos" class="text ui-widget-content ui-corner-all">
   					<option value="00">00</option>
   					<option value="30">30</option>
   				</select>      			  			
     		</td>
      	</tr>	
      	</tr>
      	      	<tr>
      		<td><label for="duracion">Duracion</label></td>
      		<td>
      			<select name="duracion" id="duracion" class="text ui-widget-content ui-corner-all">
      				<option value="30">30 min</option>
      				<option value="60">1hr</option>
      			</select>
      		</td>
      	</tr>   
      	</tr>
		<tr>
      		<td><label for="tratamiento">Tratamiento</label></td>
      		<td>
      			<select name="tratamiento" id="tratamiento" class="text ui-widget-content ui-corner-all" >
    				
      			</select>
      		</td>
      	</tr>    
  	      	      	   	      	      	
      	<tr>
      		<td colspan="2">
      		<!-- Allow form submission with keyboard without duplicating the dialog button -->
      		<button id="buttonAgendar">Regendar Cita</button>
      		<button id="buttonConfirmar">Confirmar Cita</button>
      		<button id="buttonCancelar">Cancelar Cita</button>
      		<button id="buttonRegresar">Regresar</button>
      		<input type="hidden" name="id_paciente" id="id_paciente" value="0">
      		<input type="hidden" name="id_cita" id="id_cita" value="0">
      		<input type="hidden" name="id_tratamiento" id="id_tratamiento" value="0">
      		</td>
      	</tr>
      </table>       
</div>


<div id="dialog-message" title="Cambiar Agenda">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    La cita ha sido re-agendada!
  </p>
  <p>
    Gracias!
  </p>
</div>

<div id="cancelar-message" title="Cancelar Cita">
	<p>
	<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
		Estas seguro que deseas cancelar la cita?
	</p>	
</div>

<div id="confirmar-message" title="Confirmar Cita">
	<p>
	<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
		El paciente ha confirmado la cita para la fecha y hora agendada?
	</p>	
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
<script th:inline="javascript">

/*<![CDATA[*/


var cita_id = /*[[${param.id_cita}]]*/;


/*]]>*/

var animationTimeout = 350;
var animationType = "fold";

$(document).ready(function() {
	
	
	
	$("#fecha").datepicker({
		dateFormat: "yy-mm-dd"
	});
	
	$('#buttonAgendar').click(function()  {
		addPaciente();
	});
	
	$('#buttonRegresar').click(function()  {
		location.href = "/";
	});
	
	$('#buttonCancelar').click(function() {
		$( "#cancelar-message" ).dialog( "open" );
        $( "#cancelar-message" ).animate({
            backgroundColor: "#aa0000",
            color: "#fff"            
          }, 1000 );
	});
	
	$('#buttonConfirmar').click(function() {
		$( "#confirmar-message" ).dialog( "open" );
        $( "#confirmar-message" ).animate({
            backgroundColor: "#99ff99",
            color: "#000000"            
          }, 1000 );
	})	
	
    $( "#dialog-message" ).dialog({
        modal: true,
        autoOpen: false,
        show: {
          effect: animationType,
          duration: animationTimeout
        },
        hide: {
          effect: animationType,
          duration: animationTimeout
        },        
        buttons: {
          Ok: function() {
            $( this ).dialog( "close" );
            location.href="/";
          }
        }
      });	
    
    $( "#cancelar-message" ).dialog({
        modal: true,
        autoOpen: false,
        show: {
          effect: animationType,
          duration: animationTimeout
        },
        hide: {
          effect: animationType,
          duration: animationTimeout
        },        
        buttons: {
          Si: function() {
        	  $( this ).dialog( "close" );
        	  borrarCita();
          },
          No: function() {
            $( this ).dialog( "close" );            
          }
        }
      });
    
    $( "#confirmar-message" ).dialog({
        modal: true,
        autoOpen: false,
        show: {
          effect: animationType,
          duration: animationTimeout
        },
        hide: {
          effect: animationType,
          duration: animationTimeout
        },        
        buttons: {
          Si: function() {
        	  $( this ).dialog( "close" );
        	  confirmarCita();
          },
          No: function() {
            $( this ).dialog( "close" );            
          }
        }
      });    
    
    function borrarCita() {
    	debugger;
    	console.log("about to delete cita with id=" + id_cita);
    	var id_cita = $('#id_cita').val();
		$.ajax({
			type: "DELETE",
			url: '/cita/' + id_cita ,
			contentType: 'application/json',
			dataType: 'json',
			beforeSend: function(req) {
				$('#progressbar').progressbar('value',30);
			},
			success: function(data){
				//debugger	    					
				$('#progressbar').progressbar('value',99);
				location.href="/";
			},
		    failure: function(errMsg) {alert(errMsg);}
		});
    }
    
    function confirmarCita() {
    	var id_cita = $('#id_cita').val();
    	debugger;
		$.ajax({
			type: "POST",
			url: '/cita/' + id_cita ,
			contentType: 'application/json',
			dataType: 'json',
			beforeSend: function(req) {
				$('#progressbar').progressbar('value',30);
			},
			success: function(data){
				//debugger	    					
				$('#progressbar').progressbar('value',99);
				location.href="/";
			},
		    failure: function(errMsg) {alert(errMsg);}
		});
    }
	
	function addPaciente() {
		var nombre = $("#nombre").val();
		var apellido1 = $("#apellido1").val(); 
		var apellido2 = $("#apellido2").val();
		var telefono = $("#telefono").val();
		var horas = $("#horas").val();
		if(horas == null || horas == "") {
		      // Most effect types need no options passed by default
		      var options = {};
			$( "#horas" ).show( "bounce", options, 600, function() {} );
			return;
		}
		if(horas < 10) {
			horas = "0" + horas;
		}
		var minutos = $("#minutos").val();
		var fecha = $("#fecha").val();
		var duracion = $("#duracion").val();
		var duracionMillis = duracion * (60*1000);
		var calendarStart = fecha + "T" + horas + ":" + minutos;			
		console.log("Start Date " + calendarStart);
		var startDate = new Date(calendarStart).getTime();			
		var endDate = new Date(startDate + duracionMillis).getTime();
					
		var id_paciente =  $("#id_paciente").val();
		var id_cita =  $("#id_cita").val();			
		var tratamiento = $( "#tratamiento" ).text();
		var id_tratamiento_option = $( "#tratamiento" ).val();
		
		//debugger
		var invokeMethod = "PUT";
		// si estamos agregando, el metodo nos regresa el id en la respuesta
		// sino usamos el id_cita para re=agendar			
		if(id_cita != null && id_cita != "" && id_cita != "0") {
			invokeMethod = "POST";				
		}
		
		$.ajax({
			type: invokeMethod,
			url: '/cita',
			contentType: 'application/json',
			dataType: 'json',
			data: JSON.stringify(
					{
						id: id_cita,
						startDate: startDate, 
   					    endDate: endDate, 
				        paciente: {
				    		id: id_paciente,
				    	 	nombre:nombre, 
				    	 	apellido1: apellido1, 
				    	 	apellido2: apellido2, 
				    	 	telefono: telefono
				     	},
				     	tratamiento: {
				     		id: id_tratamiento_option			     	
				     	}
					}
				  ),
			success: function(data){				
				$( "#dialog-message" ).dialog( "open" );				
			 },
		    failure: function(errMsg) {alert(errMsg);}
		});
	}
	
	function clearData() {
		
		//debugger
		$('#nombre').val('');
		$('#nombre').prop("disabled", false);
		
		$('#apellido1').val('');
		$('#apellido1').prop("disabled", false);
		
		$('#apellido2').val('');
		$('#apellido2').prop("disabled", false);
		
		$('#telefono').val('');
		$('#telefono').prop("disabled", false);	
		
		$('#fecha').val('');
		$('#fecha').prop("disabled", false);
		
		$('#tratamiento').val('');
		$('#id_tratamiento').val('');
		$('#tratamiento').prop("disabled", false);
		
		$( '#buscar' ).val('');
		$('#id_paciente').val('');
		$('#id_cita').val('');		
	}
	
	function loadTratamiento() {			
		$.ajax({
			type: "GET",
			url: '/tratamiento',
			contentType: 'application/json',
			dataType: 'json',				
			success: function(data){
				$( "#tratamiento" ).empty();
				$.each(data, function(key,value) {						
					$( "#tratamiento" ).append($("<option></option>").attr("value",value["id"]).text(value["tratamiento"]));
				});
				var id_tratamiento = $('#id_tratamiento').val();
				$('#tratamiento').val(id_tratamiento);
			},
		    failure: function(errMsg) {alert(errMsg);}
		});
	}
	
	function prepararCambio(cita_id) {
		//debugger
		$.ajax({
			type: "GET",
			url: '/cita/' + cita_id,
			contentType: 'application/json',
			dataType: 'json',				
			success: function(data){
				//debugger
				$('#id_paciente').val(data['paciente']['id']);
				$('#id_cita').val(data['id']);
				$("#nombre").val(data['paciente']['nombre']);
				$("#nombre").prop("disabled", true);
				
				$("#apellido1").val(data['paciente']['apellido1']);
				$("#apellido1").prop("disabled", true);
				
				$("#apellido2").val(data['paciente']['apellido2']);
				$("#apellido2").prop("disabled", true);
				
				$("#telefono").val(data['paciente']['telefono']);
				$("#telefono").prop("disabled", true);					
				
				var startDate = new Date(data['startDate']);
				var endDate = new Date(data['endDate']);
				var duracion = (endDate - startDate)/(60*1000);				
				var year = startDate.getFullYear();
				var month = startDate.getMonth();
				if(month < 10) {
					month = month+1;
					month = "0" + month;
				}
				var day = startDate.getDate();
				if(day < 10) {
					day = "0" + day;
				}
				var fecha = year + '-' + month + '-' + day;
				$("#fecha").val(fecha);
				
				var hours = startDate.getHours();
				var mins = startDate.getMinutes();
				if(mins == 0 || mins == "0") {
					mins = "00";
				}
				$("#horas").val(hours);
				$("#minutos").val(mins);
									
				var tratamiento = data['tratamiento']['id'];					
												
				
				$("#duracion").val(duracion);
				$("#tratamiento").val(tratamiento);
				$('#id_tratamiento').val(tratamiento);
				$("#tratamiento").prop("disabled", true);
				
			},
		    failure: function(errMsg) {alert(errMsg);}
		});			
	}
	
	//clearData();
    loadTratamiento();
    prepararCambio(cita_id[0]);
});

	

</script>
</html>