<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerfiles">    
</head>
<body>

<div class="ui-widget">
	<table style="margin-left:auto;margin-right:auto;">
		<tr>	
			<td>Buscar Paciente</td>
			<td><input type="text" name="buscar" id="buscar" size="64" class="text ui-widget-content ui-corner-all"></td>
		</tr>
	</table>
</div>

<div id="dialog-form" title="Nueva Cita">  
 
      <table style="margin-left:auto;margin-right:auto;">      
      	<tr>
      		<td><label for="nombre">Nombre</label></td>
      		<td><input type="text" name="nombre" id="nombre" class="text ui-widget-content ui-corner-all"></td>
      	</tr>
      	<tr>
      		<td><label for="apellido1">Apellido</label></td>
      		<td><input type="text" name="apellido1" id="apellido1"  class="text ui-widget-content ui-corner-all"></td>
      	</tr>
      	<tr>
      		<td><label for="apellido2">Apellido Materno</label></td>
      		<td><input type="text" name="apellido2" id="apellido2" class="text ui-widget-content ui-corner-all"></td>
      	</tr>
      	<tr>
      		<td><label for="telefono">Telefono</label></td>
      		<td><input type="text" name="telefono" id="telefono" class="text ui-widget-content ui-corner-all"></td>
      	</tr>      	   	   	      	      	
      	<tr>
      		<td colspan="2">
	      		<!-- Allow form submission with keyboard without duplicating the dialog button -->
	      		<button id="buttonEditar">Confirmar Cambios</button>
	      		<button id="buttonCancelar">Cancelar</button>
	      		<input type="hidden" name="id_paciente" id="id_paciente" value="0">
      		</td>
      	</tr>
      </table>       
</div>


<div id="dialog-message" title="Editar Paciente">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    Datos de paciente editados!
  </p>
  <p>
    Success.
  </p>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
<script th:inline="javascript">

/*<![CDATA[*/


var animationTimeout = 350;
var animationType = "fold";



/*]]>*/

$(document).ready(function() {

	
	
	$('#buttonEditar').click(function()  {
		addPaciente();
	});
	
	$('#buttonCancelar').click(function()  {
		location.href = "/";
	});
	
    $( "#dialog-message" ).dialog({
        modal: true,
        autoOpen: false,
        show: {
          effect: animationType,
          duration: animationTimeout
        },
        hide: {
          effect: animationType,
          duration: animationTimeout
        },        
        buttons: {
          Ok: function() {
            $( this ).dialog( "close" );
            location.href="/";
          }
        }
      });
	
	function addPaciente() {
		var nombre = $("#nombre").val();
		if(nombre == null || nombre == "") {
			alert("Por favor especifica un nombre de paciente valido para la consulta");
			return;			
		}
		var apellido1 = $("#apellido1").val();
		if(apellido1 == null || apellido1 == "") {
			alert("Por favor especifica un apellido valido para el paciente");
			return;			
		}		
		var apellido2 = $("#apellido2").val();
		var telefono = $("#telefono").val();
		if(telefono == null || telefono == "") {
			alert("Por favor especifica numero telefonico de contacto");
			return;			
		}		

					
		var id_paciente =  $("#id_paciente").val(); 

		
		$.ajax({
			type: 'POST',
			url: '/paciente/' + id_paciente,
			contentType: 'application/json',
			dataType: 'json',
			data: JSON.stringify(
					{
			    		id: id_paciente,
			    	 	nombre:nombre, 
			    	 	apellido1: apellido1, 
			    	 	apellido2: apellido2, 
			    	 	telefono: telefono
					}
				  ),
			beforeSend: function(req) {
				$('#progressbar').progressbar('value',30);				
			},				  
			success: function(data){
				//debugger;
				$('#progressbar').progressbar('value',99);
				$( "#dialog-message" ).dialog( "open" );								
			 },
		    failure: function(errMsg) {alert(errMsg);}
		});
	}
	
	function clearData() {
		
		//debugger
		$('#nombre').val('');
		$('#nombre').prop("disabled", false);
		
		$('#apellido1').val('');
		$('#apellido1').prop("disabled", false);
		
		$('#apellido2').val('');
		$('#apellido2').prop("disabled", false);
		
		$('#telefono').val('');
		$('#telefono').prop("disabled", false);	
		
		
		$( '#buscar' ).val('');
		$('#id_paciente').val('');
	
		dialog.dialog('close');
	}
	

	
	function loadPaciente() {
		
		var id_paciente = $("#id_paciente").val();
		if(id_paciente != null) {
			$.ajax({
				type: "GET",
				url: '/paciente/' + id_paciente,
				contentType: 'application/json',
				dataType: 'json',				
				success: function(data){
					////debugger
					$("#nombre").val(data['nombre']);
					$("#apellido1").val(data['apellido1']);
					$("#apellido2").val(data['apellido2']);
					$("#telefono").val(data['telefono']);
				},
			    failure: function(errMsg) {alert(errMsg);}
			});
		}
	}	
	
    $( "#buscar").autocomplete({
        source: "busqueda",
  	  	minLength: 6,
        select: function( event, ui ) {
      	  console.log("busqueda="+ ui.item.id);
            $("#id_paciente").val(ui.item.id);
            loadPaciente();
          }
    });
    
    clearData();
	    
});

	

</script>
</html>