<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerfiles">
    
</head>
<body>
<table border="1">
	<tr>
		<td width="15%" valign="top">
			<div id="menu">
				  <h3>Citas</h3>
				  <div>
				    <p>	
				    	<ul>			    	
				    		<li><a href="/agregarCita">Agregar Cita</a></li>				    		
				    	</ul>
				    </p>
				  </div>			
				  <h3>Paciente</h3>
				  <div>
				    <p>
				    	<!-- button id="buttonPacientes" name="buttonPacientes" class="ui-button ui-widget ui-corner-all">Pacientes</button -->
				    	<button id="buttonListaEspera" name="buttonListaEspera" class="ui-button ui-widget ui-corner-all">Lista de Espera</button>				    	
				    </p>
				  </div>
				  <h3>Reportes</h3>
				  <div>
				    <p>
				    	<button id="buttonTratamientos" name="buttonTratamientos" class="ui-button ui-widget ui-corner-all">Tratamientos</button>				    	
				    </p>
				  </div>
			</div>
		</td>
		<td><div id="calendar"></div></td>
	</tr>
</table>


</body>
<script>

$(document).ready(function() {
	$('#menu').accordion();
	
	var confirmacionColor = ['#4169E1', '#228B22'];
	
	// Obtener todas las citas
	// llamada HTTP1.1 /GET a /cita
    $.ajax({
		type: "GET",
		url: '/cita',
		contentType: 'application/json',
		dataType: 'json',				
		success: function(data){					
			////debugger
			$.each(data, function(key,value) {
				console.log("agregando cita [" + value["paciente"]["nombre"] + ' - ' + value["paciente"]["apellido1"] + ' ==> ' + new Date(value["startDate"]) + "]")
				//debugger;
				var bgColor = confirmacionColor[value['confirmacion']];
				////debugger
	            calendar.addEvent({
		        	title: value["paciente"]["nombre"] + " " + value["paciente"]["apellido1"] + " [" + value["paciente"]["telefono"] + "]",
		            start: new Date(value["startDate"]) ,
		            end: new Date(value["endDate"]),
		            allDay: false,
		            backgroundColor: bgColor,
		            id: value["id"]
		        });						
			});
			
			
		},
	    failure: function(errMsg) {alert(errMsg);}
	});
	
	
}); 
	
	

var calendarE1 = document.getElementById('calendar');

calendar = new FullCalendar.Calendar(calendarE1, {
	  header: { center: 'dayGridMonth,timeGridWeek,timeGridDay' },
	  plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
	  defaultView: 'timeGridWeek',
	  selectable: true,
	  minTime: "09:00",
	  maxTime: "22:00",
	  hiddenDays: [ 0 ],
	  height: 800,	    	  
    select: agregarEvento,
    eventOverlap: true,
    eventClick: function(eventClickInfo) {      
  	  var event = eventClickInfo['event'];
  	  var id = event['id'];
	  location.href = "/cambiarCita?id_cita=" + id;
    }
    });

calendar.render();	

function agregarEvento(event) {
	console.log("About to add calendar event at " + event.startStr);
	debugger;	
	var year = event.start.getFullYear();
	var month = event.start.getMonth();
	if(month < 10) {
		month = month+1;
		month = "0" + month;
	}
	var day = event.start.getDate();
	if(day < 10) {
		day = "0" + day;
	}
	var fecha = year + '-' + month + '-' + day;
	
	var hours = event.start.getHours();
	if(hours < 10) {
		hours = "0" + hours;
	}
	var mins = event.start.getMinutes();
	if(mins == 0 || mins == "0") {
		mins = "00";
	}
	
	location.href = "/agregarCita?startStr=" + fecha + "&horas=" + hours + "&minutos=" + mins;	
	
}

</script>
</html>